@model IEnumerable<RMDS.Models.DonationDetails>

@{
    ViewBag.Title = "GetDonationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container container-fluid">
        <h2>Donation detials</h2>

        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@


        <div class="form-group">
            <button class="btn btn-dark" title="Pending Donation" onclick="location.href='@Url.Action("GetAllPendingDonation", "Admin")'">View pending donations</button>

        </div>

        <table class="table table-responsive table-striped  table-hover">
            <thead class="thead">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.ITEMNAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QUANTITY)
                    </th>

                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ITEMNAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QUANTITY)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.DONATIONID)
                    </td>

                </tr>

            }

        </table>
    </div>
